---
import { Image } from 'astro:assets';
import thumbnail1 from '../../assets/thumbnail1.jpg';
import thumbnail2 from '../../assets/thumbnail2.jpg';
import thumbnail3 from '../../assets/thumbnail3.jpg';
const designOptions = [
  {
    step: '01',
    name: 'design1',
    width: 1600,
    height: 1080,
    thumbnail: thumbnail1,
    href: '/assets/design1/0.jpg',
    len: 8,
  },
  {
    step: '02',
    name: 'design2',
    width: 1600,
    height: 1080,
    thumbnail: thumbnail2,
    href: '/assets/design2/0.jpg',
    len: 8,
  },
  {
    step: '03',
    name: 'design3',
    width: 1600,
    height: 1080,
    thumbnail: thumbnail3,
    href: '/assets/design3/0.jpg',
    len: 8,
  },
];
---

    <style>
a {
  position: relative;
}
    .img-overlay {
  position: absolute;
  color: #fafaf9;
  height: auto;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 81%);
  margin-top: auto;
  padding-inline: 20px;
  padding-bottom: 16px;
  padding-top: 32px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 15px;
  opacity: 0.8;
  transition: opacity 0.15s ease;
}
    </style>

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-bold sm:text-4xl">Design opciók</h2>
      <div class="grid gap-8 lg:grid-cols-3" id="gallery">
        {
          designOptions.map((option) => (
            <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8" id={`gallery-${option.step}`}>
              <p class="text-sm">{option.step}</p>
              <a 
                href={option.href}
                data-pswp-width={option.width}
                data-pswp-height={option.height}
                data-cropped="true"
                target="_blank"
              >
                <Image src={option.thumbnail} alt="" class="rounded-3xl"/>
                <div class="img-overlay rounded-b-3xl">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-images"><path d="M18 22H4a2 2 0 0 1-2-2V6"/><path d="m22 13-1.296-1.296a2.41 2.41 0 0 0-3.408 0L11 18"/><circle cx="12" cy="8" r="2"/><rect width="16" height="16" x="6" y="2" rx="2"/></svg>
                </div>
              </a>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>

<script is:inline type="module" define:vars={{ designOptions }}>
  import PhotoSwipeLightbox from '/photoswipe/photoswipe-lightbox.esm.min.js';
  import PhotoSwipe from '/photoswipe/photoswipe.esm.min.js';

  document.addEventListener('DOMContentLoaded', function() {
    designOptions.forEach((option) => {
      const lightbox = new PhotoSwipeLightbox({
        gallery: `#gallery-${option.step}`,
        children: 'a',
        loop: true,
        pswpModule: PhotoSwipe,
      });
      lightbox.addFilter('numItems', (numItems) => {
        return option.len;
      });
      lightbox.addFilter('itemData', (itemData, index) => {
        if (index === 0) return itemData;
        return {
          src: `/assets/${option.name}/${index}.jpg`,
          width: option.width,
          height: option.height
        };
      });

      lightbox.init();
    });
  });
</script>
